<!DOCTYPE html>
<html class="no-js">
<head>
    <title>{% block title %}{% trans %}Integrated{% endtrans %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    {% stylesheets "@integrated_css" output='css/styles.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
</head>
<body>

<header>
    <div class="container">
        <nav class="navbar" role="navigation">
            <a href="#" type="button" class="visible-xs left_menu_toggle glyphicon glyphicon-th" data-toggle="collapse" data-target="#left_side_menu"></a>

            <a href="{{ path('integrated_content_content_index') }}" class="navbar-brand logo hidden-xs">
                {% trans %}Integrated{% endtrans %}
            </a>

            <ul class="nav" id="top_menu_for_desktop">
                <li class="dropdown for_mobile">
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">Create New <b class="caret"></b></a>

                    <div class="search_field_holder">
                        <form action="{{ path('integrated_content_content_index') }}">
                            <input type="text" name="q" value="{{ app.request.query.get('q')|trim }}" class="form-control typehead_search" placeholder=""{% trans %}Search here...{% endtrans %}" autocomplete="off" />
                            <button type="button" class="submit_btn"><i class="glyphicon glyphicon-search"></i></button>
                        </form>
                    </div>

                    <ul role="menu" class="dropdown-menu">
                        {{ render(controller('IntegratedContentBundle:ContentType:list', {'_format': 'ul'})) }}
                    </ul>
                </li>

                {#<li class="dropdown hidden-xs">#}
                    {#<a data-toggle="dropdown" class="dropdown-toggle with_badge" role="button" href="#"><i class="glyphicon glyphicon-tasks"></i><span class="badge">4</span></a>#}
                    {#<ul role="menu" class="dropdown-menu with_icons">#}
                        {#<li class="dropdown_title">Taken:</li>#}
                        {#<li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-plus-sign"></i><span class="when">5 min</span><span class="item_name">Lorum Ipsum</span></a></li>#}
                        {#<li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-plus-sign"></i><span class="when">5 min</span><span class="item_name">Lorum Ipsum</span></a></li>#}
                        {#<li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-plus-sign"></i><span class="when">5 min</span><span class="item_name">Lorum Ipsum</span></a></li>#}
                        {#<!-- <li class="divider" role="presentation"></li> -->#}
                        {#<li class="dropdown_title">Bekijk alle taken</li>#}
                    {#</ul>#}
                {#</li>#}

                {#<li class="dropdown hidden-xs">#}
                    {#<a data-toggle="dropdown" class="dropdown-toggle with_badge" role="button" href="#"><i class="glyphicon glyphicon-bell"></i><span class="badge label-danger">3</span></a>#}
                    {#<ul role="menu" class="dropdown-menu with_icons">#}
                        {#<li class="dropdown_title">U heeft 3 nieuwe notificaties:</li>#}
                        {#<li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-plus-sign"></i><span class="when">5 min</span><span class="item_name">Lorum Ipsum</span></a></li>#}
                        {#<li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-plus-sign"></i><span class="when">5 min</span><span class="item_name">Lorum Ipsum</span></a></li>#}
                        {#<li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-plus-sign"></i><span class="when">5 min</span><span class="item_name">Lorum Ipsum</span></a></li>#}
                        {#<!-- <li class="divider" role="presentation"></li> -->#}
                        {#<li class="dropdown_title">Bekijk alle notificaties</li>#}
                    {#</ul>#}
                {#</li>#}

                {#<li class="dropdown hidden-xs">#}
                    {#<a data-toggle="dropdown" class="dropdown-toggle with_badge" role="button" href="#"><i class="glyphicon glyphicon-hdd"></i><span class="badge">1</span></a>#}
                    {#<ul role="menu" class="dropdown-menu with_padding">#}
                        {#<li>#}
                            {#<p>Indexing... <span class="pull-right">50%</span></p>#}
                            {#<div class="progress progress-striped">#}
                                {#<div style="width: 50%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="50" role="progressbar" class="progress-bar progress-bar-success">#}
                                    {#<span class="sr-only">50% Complete</span>#}
                                {#</div>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</li>#}


                <li class="dropdown dropdown_profile hidden-xs">

                    <!-- TODO user info -->
                    <a data-toggle="dropdown" class="dropdown-toggle" role="button" href="#">
                        <img class="userpic" src="images/temp/userpic.jpg" alt="">
                        <span class="glyphicon glyphicon-chevron-down arrow"></span>
                    </a>
                    <ul role="menu" class="dropdown-menu with_icons">
                        <li class="user_info">
                            <h3 class="user_name">Marijn Otte</h3>
                            <h4 class="user_email">marijn@e-active.nl</h4>
                        </li>
                        <li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-edit"></i>Edit profile</a></li>
                        <li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-picture"></i>Photo gallery</a></li>
                        <li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-cog"></i>Settings</a></li>
                        <li class="divider" role="presentation"></li>
                        <li><a href="#" tabindex="-1" role="menuitem"><i class="glyphicon glyphicon-lock"></i>Log out</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="content_section">
    <div class="container">
        {% block body %}
            <div class="row">
                {% block sidebar %}
                    {% include 'IntegratedContentBundle::sidebar.html.twig' %}
                {% endblock sidebar %}
                <div class="col-sm-9 col-md-10 content_wrapper">
                    {% block flash %}
                        {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
                    {% endblock flash %}
                    <div class="content_columns_holder">
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>
        {% endblock body %}
    </div>
</section>
{% block javascript %}
<script src="//code.jquery.com/jquery.js"></script>
<script src="{{ asset('/js/bootstrap.js') }}"></script>
{% javascripts "@integrated_js" %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock javascript %}
</body>
</html>