{% verbatim %}

    <script id="block-template" type="text/x-handlebars-template">
        <div id="{{id}}_block_element" class="block">
            <div class="options">
                <input type="hidden" id="{{id}}_order" name="{{name}}[order]" data-field="order" class="form-control" value="{{index}}" />
                <input type="hidden" id="{{id}}_block" name="{{name}}[block]" data-field="block" class="form-control" value="{{value}}" />
            </div>

            <div class="element"></div>
        </div>
    </script>

    <script id="columns-template" type="text/x-handlebars-template">
        <div id="{{id}}_row" class="row">
            <input type="hidden" id="{{id}}_order" name="{{name}}[order]" data-field="order" class="form-control" value="{{index}}" />

            <div id="{{id}}_row_columns">
                {{#each columns}}
                <div id="{{id}}_row_columns_{{index}}" class="col-xs-{{ size }}">
                    <input type="hidden" id="{{id}}_row_columns_{{index}}_size" name="{{name}}[row][columns][{{index}}][size]" class="form-control" value="{{size}}">
                    <div class="section">
                        <div id="{{id}}_row_columns_{{index}}_items" class="sortable" data-name="{{name}}[row][columns][{{index}}][items]"></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </script>

{% endverbatim %}