{% verbatim %}

    <script id="block-template" type="text/x-handlebars-template">
        <div id="{{id}}_block_element" class="block">
            <div class="helper">
                <input type="hidden" id="{{id}}_order" name="{{name}}[order]" data-field="order" value="{{index}}" />
                <input type="hidden" id="{{id}}_block" name="{{name}}[block]" data-field="block" value="{{value}}" />
            </div>

            <div class="element">{{{element}}}</div>
        </div>
    </script>

    <script id="columns-template" type="text/x-handlebars-template">
        <div id="{{id}}_row" class="row">
            <div class="helper">
                <input type="hidden" id="{{id}}_order" name="{{name}}[order]" data-field="order" value="{{index}}" />
            </div>

            <div id="{{id}}_row_columns" class="columns">
                {{#each columns}}
                <div id="{{id}}_row_columns_{{index}}" class="col col-xs-{{ size }}">
                    <input type="hidden" id="{{id}}_row_columns_{{index}}_size" name="{{name}}[row][columns][{{index}}][size]" data-field="size" value="{{size}}">
                    <div class="section">
                        <div id="{{id}}_row_columns_{{index}}_items" class="sortable" data-name="{{name}}[row][columns][{{index}}][items]"></div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </script>

{% endverbatim %}