{% extends '@IntegratedContent/base.html.twig' %}
{% form_theme form _self %}

{% block form_errors %}
    {% apply spaceless %}
        {% if errors|length > 0 %}
            <ul class="alert alert-danger">
                {% for error in errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endapply %}
{% endblock form_errors %}

{% block content %}

    {{ form_start(form, {'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'col_size': 'sm'}) }}

    <div class="pull-right">
        <a class="btn btn-gray-thin" href="{{ path("integrated_content_bulk_select", {'id': id }) }}">{% trans %}Back{% endtrans %}</a>&nbsp;
        <button class="btn btn-orange" type="submit">{% trans %}Next{% endtrans %}</button>
    </div>

    <h1>{% trans %}Step 2 of 3: Choose Operation{% endtrans %}</h1>

    <div class="row">
        <section class="section-white section-padding section-shadow section-radius section-margin">

            <div class="container">
                {% transchoice selection %}{1}Choose the operations you wish to perform on the selected content item|]1,Inf[Choose the operation you wish to perform on the selected %selection% content items{% endtranschoice  %}
            </div>

            <hr/>

            {{ form_errors(form) }}
            {{ form_row(form.actions) }}

        </section>
    </div>

    <div class="pull-right">
        <a class="btn btn-gray-thin" href="{{ path("integrated_content_bulk_select", {'id': id }) }}">{% trans %}Back{% endtrans %}</a>
        <button class="btn btn-orange" type="submit">{% trans %}Next{% endtrans %}</button>
    </div>

    {{ form_end(form) }}

{% endblock content %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            implementSelect2();

            $('[data-action-toggle="1"] input:checkbox')
                .click(toggle)
                .each(toggle);

            function toggle() {
                var self = $(this);

                if (self.is(':checked')) {
                    self.parents('[data-action-toggle="1"]').next().show()
                } else {
                    self.parents('[data-action-toggle="1"]').next().hide()
                }
            }
        });
    </script>

    <script src="{{ asset('bundles/integratedcontent/js/bulk_relation.js') }}" />
{% endblock javascript %}
