{% extends '@IntegratedContent/base.html.twig' %}
{% block content %}

    {{ form_start(form, {'style': 'horizontal', 'label_col': 3, 'widget_col': 9, 'col_size': 'sm'}) }}

    <div class="pull-right">
        <a class="btn btn-gray-thin" href="{{ path("integrated_content_bulk_configure", {'id': id }) }}">{% trans %}Back{% endtrans %}</a>&nbsp;
        <button class="btn btn-orange" type="submit">{% trans %}Confirm{% endtrans %}</button>
    </div>
    <h1>{% trans %}Step 3 of 3: Confirmation{% endtrans %}</h1>
    <div class="row">
        <section class="section-white section-padding section-shadow section-radius section-margin">

            <div class="container">
                {% transchoice selection %}{1}Please confirm that you wish to execute the following actions on the selected content item|]1,Inf[Please confirm that you wish to execute the following actions on the %selection% selected content items{% endtranschoice  %}
            </div>

            <hr/>

            {{ form_errors(form) }}

            <div class="bulk-readonly">
                {{ form_row(form.actions) }}

                <div class="bulk-readonly-overlay"></div>
            </div>

        </section>
    </div>
    <div class="pull-right">
        <a class="btn btn-gray-thin" href="{{ path("integrated_content_bulk_configure", {'id': id }) }}">{% trans %}Back{% endtrans %}</a>&nbsp;
        <button class="btn btn-orange" type="submit">{% trans %}Confirm{% endtrans %}</button>
    </div>

    {{ form_end(form) }}

{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script>
        $(document).ready(function () {
            implementSelect2();
        });
    </script>

    {% javascripts '@IntegratedContentBundle/Resources/public/js/bulk_relation.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascript %}
