{% extends 'IntegratedChannelBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <ul class="list-inline">
                <li class="dropdown">

                {% if adapters %}
                    <a href="#" data-toggle="dropdown" role="button" id="drop_1">Options <b class="caret"></b></a>
                    <ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">

                    {% for adapter in adapters %}
                        <li role="presentation"><a href="{{ path('integrated_channel_config_new', {'adapter': adapter.manifest.name}) }}" tabindex="-1" role="menuitem">New {{ adapter.manifest.label }} configuration</a></li>
                    {% endfor %}

                    </ul>
                {% endif %}

                </li>
            </ul>
            <section class="section-white section-padding section-shadow section-radius">

                <table class="table table-hover">

                    <colgroup>
                        <col style="width: 20%"/>
                        <col />
                        <col style="width: 5em" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Connector</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for data in pager %}

                        <tr>
                            <td>{{ data.name }}</td>
                            <td>{{ data.adapter }}</td>
                            <td>
                                <a href="{{ path('integrated_channel_config_edit', {'id': data.id}) }}" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="{{ path('integrated_channel_config_delete', {'id': data.id}) }}" title="{% trans %}Delete{% endtrans %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>

                </table>

                {{ knp_pagination_render(pager) }}

            </section>
        </div>
    </div>
{% endblock %}
