<html>
<head>
    <title>Image Browser</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ asset('js/fos_js_routes.js?callback=fos.Router.setData') }}"></script>
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundles/integratedformtype/js/tinymce-plugins/integrated-image/js/jquery.loading-overlay.min.js') }}"></script>
    <script src="{{ asset('bundles/integratedformtype/js/tinymce-plugins/integrated-image/js/browser.js') }}"></script>
</head>
<body>
<div class="container-fluid" style="margin: 10px">
    <div class="row">
        <div class="col-sm-7">
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Upload new image <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% for image in images %}
                        <li><a target="_blank" href="{{ path('integrated_content_content_new', {'type': image.id}) }}">{{ image.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-sm-5">
            <form id="form-search" action="" class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="input-group">
                            <input id="txt-search" type="text" class="form-control" placeholder="Search image...">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" id="thumbnail-container"></div>
    </div>
    <div class="row">
        <div id="pagination-container" class="col-sm-12"></div>
    </div>
</div>

</body>
</html>