<script src="{{ asset('js/bootstrap.js') }}"></script>
<div class="col-sm-5">
    <div class="btn-group">
        {% if images|length > 1 %}
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Upload new image <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for image in images %}
                    <li><a target="_blank" href="{{ path('integrated_content_content_new', {'type': image.id}) }}">{{ image.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            {% set image = images|first %}
            <a href="{{ path('integrated_content_content_new', {'type': image.id}) }}" class="btn btn-primary" role="button">
                Upload new {{ image.name }}
            </a>
        {% endif %}
    </div>
</div>
<div class="col-sm-7">
    <form id="form-search" action="" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-6">
                <div class="input-group">
                    <input id="txt-search" type="text" class="form-control" placeholder="Search image...">
                </div>
            </div>
            <div class="col-sm-6">
                <select class="form-control" id="type-search">
                    {% for image in images %}
                        <option value="{{ image.id }}">{{ image.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </form>
</div>