{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}

<ol class="breadcrumb">
    <li>
        <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
    </li>
    <li class="active">{% trans %}Delete{% endtrans %}</li>
</ol>

<div class="page-header">
    <h1>{% trans %}Delete{% endtrans %} <small>{{ type.name }}</small></h1>
</div>

<div class="row">
    <div class="col-md-9">
        <p>
            {% trans with {'%name%':  content.id} %}You are about to delete "%name%", click the delete button below to confirm the action.{% endtrans %}
        </p>
        {% if referenced %}
            <div class="alert alert-danger">
                {% trans %} This item is still on use by: {% endtrans %}<br>
                {% for item in referenced %}
                    {% if item.action is defined %}
                        <a href="{{ path(item.action,{'id':item.id}) }}">{{ item.name }}</a><br>
                    {% else %}
                        {{ item.name }} &nbsp; {{ item.id }}<br>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {{ form(form) }}
    </div>
</div>
{% endblock %}