{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block body %}

<ol class="breadcrumb">
    <li>
        <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
    </li>
    <li class="active">{% trans %}Edit{% endtrans %}</li>
</ol>

<div class="page-header">
    <h1>{% trans %}Edit{% endtrans %} <small>{{ type.name }}</small></h1>
</div>

<div class="row">
    <div class="col-md-8">
        {{ form(form, { 'style': 'horizontal' }) }}
    </div>
    <div class="col-md-2">
        <h3>{% trans %}Link to{% endtrans %}</h3>
        <form role="form" id="relations-search">
            <div class="input-group">
                <input id="relations-q" class="form-control" type="search" />
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search"></span>&nbsp;
                    </button>
                </span>
            </div>
        </form>
        <div id="relations-result"></div>
    </div>
    <div class="col-md-2">
        <h3>{% trans %}Linked items{% endtrans %}</h3>
        <div id="relations-selected"></div>
    </div>
</div>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% javascripts
    "@IntegratedContentBundle/Resources/public/components/handlebars/handlebars.min.js"
    "@IntegratedContentBundle/Resources/public/js/handlebars.helpers.js"
    "@IntegratedContentBundle/Resources/public/js/relation.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% autoescape 'js' %}
    {% verbatim %}
    <script id="options-template" type="text/x-handlebars-template">
        <h4>{{this.title}}</h4>
        <ul class="media-list">
            {{#each items}}
            <li class="media">
                <div class="checkbox">
                    <label>
                        {{#checked this.id ../selected }}
                            <input type="checkbox" checked="checked" value="{{this.id}}"  />
                        {{else}}
                            <input type="checkbox" value="{{this.id}}"  />
                        {{/checked}}
                        {{this.title}}
                    </label>
                </div>
            </li>
            {{else}}
            <li class="media">
                No items found
            </li>
            {{/each}}
        </ul>
    </script>
    <script id="selected-template" type="text/x-handlebars-template">
        <h4>{{this.title}}</h4>
        <ul class="media-list">
            {{#each items}}
            <li class="media">
                <a href="#" data-remove="{{this.id}}"><span class="glyphicon glyphicon-remove"></span></a>
                {{this.title}}
            </li>
            {{else}}
            <li class="media">
                No items selected
            </li>
            {{/each}}
        </ul>
    </script>
    <script id="pagination-template" type="text/xhandlebars-template">
        {{#hasPages pagination.pageCount}}
        <ul class="pagination">
            {{#if pagination.previous}}
            <li>
                <a href="{{pagination.previous.href}}">&laquo;</a>
            </li>
            {{else}}
            <li class="disabled">
                <span>&laquo;</span>
            </li>
            {{/if}}
            {{#each pagination.pages}}
            {{#equals ../pagination.page @key }}
            <li class="active">
                <span>{{@key}}</span>
            </li>
            {{else}}
            <li>
                <a href="{{this.href}}">{{@key}}</a>
            </li>
            {{/equals}}
            {{/each}}
            {{#if pagination.next}}
            <li>
                <a href="{{pagination.next.href}}">&raquo;</a>
            </li>
            {{else}}
            <li class="disabled">
                <span>&raquo;</span>
            </li>
            {{/if}}
        </ul>
        {{/hasPages}}
    </script>
    {% endverbatim %}
    <script>
        $.fn.relation = function() {
            return this.each(function(){
                var rel = new Relation($(this).data('relation'), "{{ path('integrated_content_content_index')}}");
                rel.loadOptions();
            });
        };

        $('.form-relations input[data-relation]').relation();

        //TODO observe search form
    </script>
{% endautoescape %}
{% endblock javascript %}