{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}
    {% block crumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
        </li>
        <li class="active">{% trans %}Edit{% endtrans %}</li>
    </ol>
    {% endblock %}

    {% block filters %}
    <div class="filters_row">
        {#<ul class="nav nav-pills">#}
            {#<li class="dropdown">#}
                {#<a href="#" data-toggle="dropdown" role="button" id="drop_1">Import <b class="caret"></b></a>#}
                {#<ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>#}
                {#</ul>#}
            {#</li>#}

            {#<li class="dropdown">#}
                {#<a href="#" data-toggle="dropdown" role="button" id="drop_1">Actions <b class="caret"></b></a>#}
                {#<ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    </div>
    {% endblock %}

    <div class="content_columns_holder">
        {% set colWidth = 'col-md-9' %}
        {% if form.offsetGet('relations').count() %}
            {% set colWidth = 'col-md-6' %}
        {% endif %}
        <div class="col-sm-12 {{ colWidth }} content_column margin_botom_in_mobile">
            <h3 class="title">
                {% block pageTitle %}
                {% trans %}Edit{% endtrans %} {{ type.name }}
                {% endblock %}
            </h3>
            <div class="content_column_inner">
                <div class="item_row">
                    {{ form(form, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8, 'col_size': 'sm' }) }}
                </div>
            </div>
        </div>
        {% if form.offsetGet('relations').count() %}
        <div class="col-sm-6 col-md-3 side_column margin_botom_in_mobile">
            <h3 class="title">{% trans %}Link to{% endtrans %}</h3>

            <div class="content_column_inner relations">
                <div class="item_row">
                    {% for relation in form.relations %}
                        <div class="relation" style="margin: 0 0 30px 0">
                            <label for="{{ relation.vars.name }}">{{ relation.vars.attr['data-title'] }}</label><br/>
                            <input id="{{ relation.vars.name }}" data-multiple="{{ relation.vars.attr['data-multiple'] }}" style="width: 170px; float: left; margin: 0 13px 20px 0;" class="relation-items" />
                        </div>
                    {% endfor %}
                </div>
                <div id="relations-result"></div>
            </div>
        </div>
        {% endif %}
    </div>

    {% autoescape 'js' %}
        {% verbatim %}
            <script id="add-template" type="text/xhandlebars-template">
                {{#if relations}}
                {{#equals relations.length 1}}
                <a data-title="Add {{relations.0.name}}" class="btn btn-default add-relation" style="font-size: 13px;" href="{{relations.0.href}}" target="_blank" data-modal="add-modal">
                    Add
                </a>
                {{else}}
                <div class="btn-group add-relation">
                    <button type="button" class="btn btn-default dropdown-toggle" style="font-size: 13px;" data-toggle="dropdown" aria-expanded="false">
                        Add <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        {{#each relations}}
                        <li>
                            <a data-title="Add {{this.name}}" href="{{this.href}}" target="_blank" data-modal="add-modal">
                                {{this.name}}
                            </a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                {{/equals}}
                {{/if}}
                <div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                <h4 class="modal-title">Add</h4>
                            </div>
                            <iframe width="100%" height="400" style="width: 100%; min-height: 10px; border: none;">Loading</iframe>
                        </div>
                    </div>
                </div>
            </script>
        {% endverbatim %}
    {% endautoescape %}

{% endblock %}
{% block javascript %}
{{ parent() }}
{% javascripts
    "@IntegratedContentBundle/Resources/public/components/handlebars/handlebars.min.js"
    "@IntegratedContentBundle/Resources/public/js/handlebars.helpers.js"
    "@IntegratedContentBundle/Resources/public/js/relation.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if content is defined %}
<script>
    $(function() {

        var cnt = $('#used-by');

        var handleUsedBy = function(data) {
            var optionsTemplateSource = $('#used-by-template').html(), optionsTemplate = Handlebars.compile(optionsTemplateSource);
            var paginationTemplateSource = $('#pagination-template').html(), paginationTemplate = Handlebars.compile(paginationTemplateSource);

            data.title = "{% trans %}Used by{% endtrans %}";

            cnt.html(optionsTemplate(data)).find('.content_column_inner').append(paginationTemplate(data));
            cnt.find('.pagination a').click(function(ev){
                ev.preventDefault();
                loadUsedBy($(this).attr('href'));
            });
        };

        var loadUsedBy = function(url) {
            cnt.find('.pagination a').unbind('click').click(function(ev){
                ev.preventDefault();
            });

            $.ajax({
                url: url,
                data: {
                    '_format': 'json',
                    'limit': 5
                },
                success: handleUsedBy
            });
        };

        loadUsedBy('{{ path('integrated_content_content_used_by', {'id': content.id}) }}');
    });
</script>
{% endif %}
{% endblock javascript %}