{% extends 'IntegratedContentBundle::base.html.twig' %}

{% set editable = is_granted(constant('Integrated\\Common\\Security\\Permissions::EDIT'), content) %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_content_content_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Edit{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    {% block filters %}
    <div class="filters_row">
        {#<ul class="nav nav-pills">#}
            {#<li class="dropdown">#}
                {#<a href="#" data-toggle="dropdown" role="button" id="drop_1">Import <b class="caret"></b></a>#}
                {#<ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>#}
                {#</ul>#}
            {#</li>#}

            {#<li class="dropdown">#}
                {#<a href="#" data-toggle="dropdown" role="button" id="drop_1">Actions <b class="caret"></b></a>#}
                {#<ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Another action</a></li>#}
                    {#<li role="presentation"><a href="#" tabindex="-1" role="menuitem">Something else here</a></li>#}
                {#</ul>#}
            {#</li>#}
        {#</ul>#}
    </div>
    {% endblock %}

<h1 class="main-title font-regular">
    {% block pageTitle %}
        {% trans %}Edit{% endtrans %} {{ type.name }} <i class="integrate-icon-edit"></i>
    {% endblock %}
</h1>

<div class="row">

    <div class="col-md-8 push-sm-down">
        <section class="section-white section-padding section-shadow section-radius">
            {{ form(form, { 'style': 'horizontal', 'label_col': 4, 'widget_col': 8, 'col_size': 'sm' }) }}
        </section>
    </div>

    <div class="col-md-4">
        <aside>

            <div class="aside-holder section-gray section-shadow section-radius">

                {% if content is defined %}
                    {% if content.isPublished and content.getChannels|length > 0 %}
                        <div class="aside-item-holder">
                            <h2 class="font-medium color-green"><i class="integrate-icon-ok-circled"></i> {% trans %}Published{% endtrans %}</h2>
                        </div>
                    {% endif %}
                {% endif %}

                {% if form.offsetGet('relations').count() and editable %}
                <div class="aside-item-holder section-white">
                    <h3 class="font-medium">{% trans %}Link to{% endtrans %}</h3>
                    <div class="content_column_inner">
                        <div class="item_row">
                            <div class="search_field_holder grey_field_holder">
                                <form role="form" id="relations-search">
                                    <input id="relations-q" type="text" class="form-control" placeholder="{% trans %}Search here...{% endtrans %}" autocomplete="off" />
                                    <button type="submit" class="submit_btn"><i class="glyphicon glyphicon-search"></i></button>
                                </form>
                            </div>
                        </div>
                        <div id="relations-result"></div>
                    </div>
                </div>
                {% endif %}

                <div class="aside-item-holder section-white">
                    {% if form.offsetGet('relations').count() %}
                    <div class="item_row">
                        <h3 class="title">{% trans %}Linked items{% endtrans %}</h3>
                        <div class="content_column_inner">
                            <ul class="custom_list li_with_margin" id="relations-selected"></ul>
                        </div>
                    </div>
                    {% endif %}
                    <div class="item_row" id="used-by"></div>
                </div>

            {#<div class="item_row">#}
                {#<h3 class="title">Info</h3>#}
                {#<div class="content_column_inner">#}
                    {#<ul class="custom_list custom_list_info">#}
                        {#<li>#}
                            {#Creator#}
                            {#<span class="value">Marijn Otte</span>#}
                        {#</li>#}
                        {#<li>#}
                            {#Created on#}
                            {#<span class="value">18-12-2013</span>#}
                        {#</li>#}
                        {#<li>#}
                            {#Words#}
                            {#<span class="value">1296</span>#}
                        {#</li>#}
                    {#</ul>#}
                    {#<a href="#" class="btn_more">More <i class="glyphicon"></i></a>#}
                {#</div><!-- content_column_inner -->#}
            {#</div><!-- item_row -->#}

            {#<div class="item_row">#}
                {#<h3 class="title">History</h3>#}
                {#<div class="content_column_inner">#}
                    {#<ul class="custom_list">#}
                        {#<li class="media">#}
                            {#<a href="#" class="pull-left"><img src="images/temp/userpic.jpg" alt=""></a>#}
                            {#<div class="media-body">#}
                                {#<p>18-12-2013 16:43</p>#}
                                {#<p>Marijn Otte</p>#}
                                {#<p>Draft</p>#}
                                {#<p>Rewritten intro</p>#}
                            {#</div>#}
                        {#</li>#}
                        {#<li class="media">#}
                            {#<a href="#" class="pull-left"><img src="images/temp/userpic.jpg" alt=""></a>#}
                            {#<div class="media-body">#}
                                {#<p>18-12-2013 16:43</p>#}
                                {#<p>Marijn Otte</p>#}
                                {#<p>Draft</p>#}
                                {#<p>Rewritten intro</p>#}
                            {#</div>#}
                        {#</li>#}
                    {#</ul>#}
                {#</div><!-- content_column_inner -->#}
            {#</div><!-- item_row -->#}
            </div>
        </aside>
    </div>

    <div class="modal fade" id="content-edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{% trans %}Unsaved changes{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    <p>{% trans %}You have unsaved changes. When you leave this page your changes will be lost.{% endtrans %}</p>
                    <p>{% trans %}Are you sure you want to leave this page?{% endtrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary live-page">{% trans %}Leave this page{% endtrans %}</button>
                    <button type="button" class="btn btn-gray-thin" data-dismiss="modal">{% trans %}Stay on page{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{{ parent() }}
{% javascripts
    "@IntegratedContentBundle/Resources/public/components/handlebars/handlebars.min.js"
    "@IntegratedContentBundle/Resources/public/js/handlebars.helpers.js"
    "@IntegratedContentBundle/Resources/public/js/relation.js"
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if content is defined %}
<script>
    $(function() {
        var cnt = $('#used-by');

        var handleUsedBy = function(data) {
            var optionsTemplateSource = $('#used-by-template').html(), optionsTemplate = Handlebars.compile(optionsTemplateSource);
            var paginationTemplateSource = $('#pagination-template').html(), paginationTemplate = Handlebars.compile(paginationTemplateSource);

            data.title = "{% trans %}Used by{% endtrans %}";

            cnt.html(optionsTemplate(data)).find('.content_column_inner').append(paginationTemplate(data));
            cnt.find('.pagination a').click(function(ev){
                ev.preventDefault();
                loadUsedBy($(this).attr('href'));
            });
        };

        var loadUsedBy = function(url) {
            cnt.find('.pagination a').unbind('click').click(function(ev){
                ev.preventDefault();
            });

            $.ajax({
                url: url,
                data: {
                    '_format': 'json',
                    'limit': 5
                },
                success: handleUsedBy
            });
        };

        loadUsedBy('{{ path('integrated_content_content_used_by', {'id': content.id}) }}');

        window.addEventListener('message', function(event) {
            // also resize modal if relations are changed
            var iframe = $('[data-id="' + event.data.resizeModal + '"]');
            var height = iframe.contents().height();
            var margin = 120;

            if (height > ($(window).height() - margin)) {
                height = $(window).height() - margin;
            }

            iframe.attr('height', height);
        }, false);
    });
</script>
    {% if editable %}
        {% javascripts "@IntegratedContentBundle/Resources/public/js/unlock_article.js" %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endif %}

{% javascripts "@IntegratedUserBundle/Resources/public/js/visible_user_form.js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if hasWorkflowBundle %}
    {% javascripts '@IntegratedWorkflowBundle/Resources/public/js/workflowChangeState.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endif %}

{% include 'IntegratedContentBundle:Content:handlebars/templates.html.twig' with { 'editable': editable, 'type': app.request.query.get('relation')|default } %}
{% endblock javascript %}
