{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block body %}

<div class="row">

    <div class="col-md-3">

        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                {% trans %}New{% endtrans %} <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">

                {% for class in types %}

                    {% for type in class %}

                        <li><a href="{{ path('integrated_content_content_new', {'class': type.class, 'type': type.type}) }}">{{ type.name }}</a></li>

                    {% endfor %}

                    {% if not loop.last %}
                        <li class="divider"></li>
                    {% endif %}

                {% endfor %}

            </ul>
        </div>

    </div>
    <div class="col-md-9">

        <div class="search">
            <form class="row" role="form">
                <div class="col-md-10">
                    <label class="sr-only" for="inputquery">
                        {% trans %}Search text{% endtrans %}
                    </label>
                    <input type="search" name="q" class="form-control input-lg" id="inputquery" value="{{ app.request.query.get('q')|trim }}" placeholder="{% trans %}Search text{% endtrans %}" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> {% trans %}Search{% endtrans %}</button>
                </div>
            </form>
        </div>

        <div class="results">

            {% for content in pager %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="pull-right">
                        {#<a href title="open"><span class="glyphicon glyphicon-open"></span></a>#}
                        <a href="{{ path('integrated_content_content_edit', {'id': content.type_id}) }}" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ path('integrated_content_content_delete', {'id': content.type_id}) }}" title="{% trans %}Delete{% endtrans %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>

                    <h3 class="panel-title">{{ content.title }}</h3>
                </div>
                {% if content.content|join('...')|trim is not empty %}
                <div class="panel-body">
                    <div class="content">{{ content.content|join('...')|striptags|raw }}</div>
                </div>
                {% endif %}
            </div>

            {% endfor %}

            {{ knp_pagination_render(pager) }}

        </div>

    </div>
</div>

{% endblock %}