{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}

    <div class="filters_row">
        <ul class="nav nav-pills">

            <li class="dropdown">
                <a href data-toggle="dropdown" role="button" id="sorting-list">Ordering <b class="caret"></b></a>

                <ul aria-labelledby="sorting-list" role="menu" class="dropdown-menu" id="sorting-menu">

                    <li {% if params.sort is null %}class="active" {% endif %}role="presentation">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': null})) }}" tabindex="-1" role="menuitem">Date modified</a>
                    </li>
                    <li {% if params.sort == 'created' %}class="active" {% endif %}role="presentation">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'created'})) }}" tabindex="-1" role="menuitem">Date created</a>
                    </li>
                    <li {% if params.sort == 'time' %}class="active" {% endif %}role="presentation">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'time'})) }}" tabindex="-1" role="menuitem">Publication date</a>
                    </li>
                    <li {% if params.sort == 'title' %}class="active" {% endif %}role="presentation">
                        <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'sort': 'title'})) }}" tabindex="-1" role="menuitem">Title</a>
                    </li>

                </ul>
            </li>

        </ul>
    </div>

    <div class="content_columns_holder">
        <div class="col-sm-8 content_column">
            <div class="content_column_inner">

                {% for content in pager %}

                    <div class="item_row">
                        <h3 class="title">
                            <a href="{{ path('integrated_content_content_edit', {id: content.type_id}) }}">
                                {{ content.title }}
                            </a>
                        </h3>

                        {% if locks[content.type_id] is defined %}

                            {% if locks[content.type_id].user is defined %}

                        <div class="alert alert-danger">
                            {% trans %}This item is locked by{% endtrans %} {{ locks[content.type_id].user }}
                        </div>

                            {% else %}

                        <div class="alert alert-danger">
                            {% trans %}This item is locked{% endtrans %}
                        </div>

                            {% endif %}

                        {% endif %}

                        {% if content.content is defined %}
                            {% if content.content|join('...')|trim is not empty %}
                                <p>{{ content.content|join('...')|slice(0, 200)|striptags|raw }}</p>
                            {% endif %}
                        {% endif %}
                        <ul class="status_info_list">
                            <li>
                                {% if contentTypes[content.type_name] is defined %}
                                    {{ contentTypes[content.type_name] }}
                                {% else %}
                                    {{ content.type_name }}
                                {% endif %}
                            </li>
                        </ul>
                    </div>

                {% else %}

                    <div class="item_row">
                        <p class="text-danger">{% trans %}No items found{% endtrans %}</p>
                    </div>

                {% endfor %}

                <div class="item_row">
                    <div class="pull-right">
                        {{ knp_pagination_render(pager) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-4 sidebar_right">
            <div class="content_column_inner">
                <form>
                    {% for key, facet in facets %}
                        <div class="item_row">
                            <h3 class="title">
                                {{ key|capitalize }}
                            </h3>
                            <ul class="filters_list">
                                {% for title, count in facet %}
                                <li>
                                    <label>
                                        <input {% if title in active %}checked="checked"{% endif %} onclick="form.submit();" type="checkbox" name="{{ key }}[]" value="{{ title }}" />
                                        {% if key == 'contenttypes' %}
                                            {% if contentTypes[title] is defined %}
                                                {{ contentTypes[title] }}
                                            {% else %}
                                                {{ title }}
                                            {% endif %}
                                        {% endif %}
                                        <span class="value">{{ count }}</span>
                                    </label>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}