{% extends 'base.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-3">

        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-lg dropdown-toggle" data-toggle="dropdown">
                New
            </button>
            <ul class="dropdown-menu" role="menu">

                {% for class in types %}

                    {% for type in class %}

                        <li><a href="{{ path('integrated_content_content_new', {'class': type.class, 'type': type.type}) }}">{{ type.type }}</a></li>

                    {% endfor %}

                    {% if not loop.last %}
                        <li class="divider"></li>
                    {% endif %}

                {% endfor %}

            </ul>
        </div>

    </div>
    <div class="col-md-9">

        <div class="search">
            <form class="row" role="form">
                <div class="col-md-10">
                    <label class="sr-only" for="inputquery">Zoek tekst</label>
                    <input type="text" name="q" class="form-control input-lg" id="inputquery" value="{{ app.request.query.get('q')|trim }}" placeholder="Zoek tekst" />
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> Zoeken</button>
                </div>
            </form>
        </div>

        <div class="results">

            {% for content in pager %}

            <div class="panel panel-default">

                <div class="panel-heading">
                    <div class="pull-right">
                        {#<a href title="open"><span class="glyphicon glyphicon-open"></span></a>#}
                        <a href="{{ path('integrated_content_content_edit', {'id': content.id}) }}" title="edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="{{ path('integrated_content_content_delete', {'id': content.id}) }}" title="remove"><span class="glyphicon glyphicon-remove-circle"></span></a>
                    </div>

                    <h3 class="panel-title">{{ content.name }}</h3>
                </div>

                {#{% if content.text|trim is not empty %}#}

                {#<div class="panel-body">#}

                    {#<div class="content">{{ content.text|striptags|raw }}</div>#}

                {#</div>#}

                {#{% endif %}#}

            </div>

            {% endfor %}

            {{ knp_pagination_render(pager) }}

        </div>

    </div>
</div>

{% endblock %}