<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
    <channel>
        <title>{{ selection.title|default }}</title>
        <link>{{ url('integrated_website_content_rss', { 'slug': selection.slug }) }}</link>

        {% spaceless %}
        {% for document in documents %}

            <item>
                <title>{{ document.title|default }}</title>
                <pubDate>{{ document.pub_created|date('D, d M Y H:i:s O') }}</pubDate>
                <link>{{ app.request.schemeAndHttpHost }}{{ document.url|default }}</link>
            </item>

        {% endfor %}
        {% endspaceless %}
    </channel>
</rss>