<!DOCTYPE html>
<html>
<head>
    <script>
        /**
         * @type object|null
         */
        var tinymce = top.tinymce;
        if ('undefined' != typeof(tinymce)) {
            tinymce.activeEditor.windowManager.close();
        }

        /**
         * @type object|null
         */
        var relations = parent.relations;
        if ('undefined' != typeof(relations)) {
            parent.$(function() {
                if (parent.relations['{{ relation }}'] != undefined) {
                    parent.relations['{{ relation }}'].loadOptions();
                    parent.relations['{{ relation }}'].addOption('{{ id }}');

                    parent.relations['{{ relation }}'].getModal().modal('hide');
                }
            });
        }
    </script>
</head>
<body>
</body>
</html>
