{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <ul class="list-inline">
                <li class="dropdown"></li>
                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" role="button">{{ selectedChannel.name }} <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        {% for channel in channels %}
                            <li role="presentation">
                                <a href="{{ path('integrated_page_content_type_page_index', { 'channel': channel.id }) }}" tabindex="-1" role="menuitem">{{ channel.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" role="button">
                        {% trans %}Content type pages{% endtrans %}
                        <b class="caret"></b>
                    </a>
                    <ul role="menu" class="dropdown-menu">
                        <li role="presentation">
                            <a href="{{ path('integrated_page_page_index', { 'channel': selectedChannel.id }) }}" tabindex="-1" role="menuitem">{% trans %}Static pages{% endtrans %}</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <section class="section-white section-padding section-shadow section-radius">

                <table class="table table-hover">
                    <colgroup>
                        <col />
                        <col />
                        <col />
                        <col style="width: 5em" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th>{% trans %}Content type{% endtrans %}</th>
                            <th>{% trans %}URL{% endtrans %}</th>
                            <th>{% trans %}Layout{% endtrans %}</th>
                            <th>{% trans %}Actions{% endtrans %}</th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for page in pages %}

                        <tr>
                            <td>
                                {{ page.contentType.name }}
                            </td>
                            <td>
                                {{ page.path }}
                            </td>
                            <td>
                                {{ page.layout }}
                            </td>
                            <td>
                                <a href="{{ path('integrated_page_content_type_page_edit', { 'id': page.id}) }}" title="{% trans %}Edit{% endtrans %}">
                                    {{ icon('pencil') }}
                                </a>
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="4">
                                {% trans %}No pages added{% endtrans %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                {{ knp_pagination_render(pages) }}
            </section>
        </div>
    </div>

{% endblock %}
