{% extends 'IntegratedContentBundle::base.html.twig' %}

{% form_theme facetFilter 'IntegratedBlockBundle:form:form_div_filter.html.twig' %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">{% trans %}Users{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 push-sm-down">

            <ul class="list-inline">
                <li>
                    <a href="{{ path('integrated_user_user_new') }}">Nieuw</a>
                </li>
            </ul>

            {% include 'IntegratedUserBundle:user/partials:user_list.html.twig' %}

        </div>

        <div class="col-sm-4">
            <aside>
                <div class="aside-holder section-gray section-shadow section-radius">
                    {{ form_start(facetFilter) }}

                    <div class="aside-item-holder">
                        <div class="input-group">
                            {{ form_widget(facetFilter.q) }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    {% block user_filter_groups %}
                    <div class="aside-item-holder {% if facetFilter.groups|length == 0 %} hidden{% endif %}">
                        {{ form_row(facetFilter.groups) }}
                    </div>
                    {% endblock %}

                    {% block user_filter_scope %}
                    <div class="aside-item-holder {% if facetFilter.scope|length == 0 %} hidden{% endif %}">
                        {{ form_row(facetFilter.scope) }}
                    </div>
                    {% endblock %}

                    {{ form_end(facetFilter) }}
                </div>
            </aside>
        </div>
    </div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script type="text/javascript">
    $(function () {
        $('[data-toggle="popover"]').popover();

        $('form[name="integrated_user_filter"]').on('change', function () {
            $(this).trigger('submit');
        });
    });
</script>
{% endblock %}
