{% autoescape 'js' %}
{% verbatim %}
<script id="options-template" type="text/x-handlebars-template">

    <div class="item_row">
        <h4 class="sub_title">{{this.title}} <small>({{pagination.numFound}})</small></h4>
        <ul class="custom_list">
            {{#each items}}
                {{#if this.image  }}
                    <li class="media">
                        <a href="#" data-value="{{this.id}}" class="pull-left">
                            <img src="{{this.image}}" alt="{{this.title}}" widht="60" />
                        </a>
                        <div class="media-body">
                            <a href="#" data-value="{{this.id}}">{{ this.title }}</a>
                        </div>
                    </li>
                {{else}}
                    <li>
                        <label class="pseudo_checkbox_holder">
                            {{#checked this.id ../../selected }}
                            <input type="checkbox" checked="checked" value="{{this.id}}"  />
                            {{else}}
                                <input type="checkbox" value="{{this.id}}"  />
                            {{/checked}}
                            <i class="pseudo_checkbox"></i>{{this.title}}
                        </label>
                    </li>
                {{/if}}
            {{else}}
            <li>
                No items found
            </li>
            {{/each}}
        </ul>

        <!--<div class="btn-group btn-group-justified btn_group">-->
            <!--<a href="#" class="btn btn_show_more">Show 5 more</a>-->
            <!--<a href="#" class="btn">Click to add</a>-->
        <!--</div>-->
    </div>
</script>
<script id="selected-template" type="text/x-handlebars-template">
    {{#hasItems pagination.numFound}}
        <h4 class="sub_title">{{ this.title }} <small>({{pagination.numFound}})</small></h4>
        {{#each items}}
            <p class="alert-dismissable closable" data-remove="{{ this.id }}">
                <button aria-hidden="true" data-dismiss="alert" class="close glyphicon glyphicon-remove" type="button"></button>
                {{this.title}}
            </p>
        {{else}}
            <p>
                No items selected
            </p>
        {{/each}}
    {{/hasItems}}
</script>
<script id="pagination-template" type="text/xhandlebars-template">
        {{#hasPages pagination.pageCount}}
    <ul class="pagination">
            {{#if pagination.previous}}
        <li>
            <a href="{{pagination.previous.href}}">&laquo;</a>
        </li>
            {{else}}
            <li class="disabled">
            <span>&laquo;</span>
        </li>
            {{/if}}
            {{#each pagination.pages}}
            {{#equals ../pagination.page @key }}
        <li class="active">
            <span>{{@key}}</span>
        </li>
            {{else}}
            <li>
            <a href="{{this.href}}">{{@key}}</a>
        </li>
            {{/equals}}
            {{/each}}
            {{#if pagination.next}}
        <li>
            <a href="{{pagination.next.href}}">&raquo;</a>
        </li>
            {{else}}
            <li class="disabled">
            <span>&raquo;</span>
        </li>
            {{/if}}
        </ul>
        {{/hasPages}}
    </script>
{% endverbatim %}
<script>
    $.fn.relation = function() {
        return this.each(function(){
            var rel = new Relation($(this).data('relation'), "{{ path('integrated_content_content_index')}}");
            rel.loadOptions();
        });
    };

    $('.form-relations input[data-relation]').relation();

    $('#relations-search').submit(function(ev){
        ev.preventDefault();
        $('.form-relations input[data-relation]').relation();
    });
</script>
{% endautoescape %}