{% extends 'IntegratedContentBundle::base.html.twig' %}

{% form_theme facetFilter 'IntegratedBlockBundle:Form:form_div_filter.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 push-sm-down">
            <ul class="list-inline">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button">{% trans %}Create new{% endtrans %} <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        {% for metadata in factory.allMetadata %}
                            <li role="presentation">
                                <a href="{{ path('integrated_block_block_new') }}?class={{ metadata.class }}">{{ metadata.type|default(metadata.class) }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <section class="section-white section-padding section-shadow section-radius">

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table table-fixed">
                            <colgroup>
                                <col />
                                <col />
                                <col />
                                {% if pageBundleInstalled %}
                                    <col />
                                    <col style="width: 60px;" />
                                {% endif %}
                                <col style="width: 60px;" />
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(blocks, 'Block name', 'title') }}</th>
                                <th>{{ knp_pagination_sortable(blocks, 'Short code', 'id') }}</th>
                                <th>{{ knp_pagination_sortable(blocks, 'Type', 'type') }}</th>
                                {% if pageBundleInstalled %}
                                    <th>{% trans %}Channels{% endtrans %}</th>
                                    <th>{% trans %}Pages{% endtrans %}</th>
                                {% endif %}
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for block in blocks %}

                                <tr>
                                    <td class="break-word">
                                        {{ block.title }}
                                    </td>
                                    <td class="break-word">
                                        {{ block.id }}
                                    </td>
                                    <td>
                                        {{ block.type }}
                                    </td>
                                    {% if pageBundleInstalled %}
                                        <td class="break-word">
                                            {% for channel in integrated_find_channels(block) %}
                                                {{ channel.name }}{% if not loop.last %}, {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% set pageList %}
                                                {% if integrated_find_pages(block)|length %}
                                                    <ul class="list-bullet">
                                                        {% for page in integrated_find_pages(block) %}
                                                            <li>{{ page.title }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            {% endset %}

                                            {% if pageList|trim %}
                                                <span class="glyphicon glyphicon-list-alt" data-toggle="popover" data-trigger="hover" title="Pages" data-content="{{ pageList|e }}" data-html="true" data-placement="left"></span>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('integrated_block_block_edit', { 'id': block.id }) }}"  title="{% trans %}Edit{% endtrans %}">
                                            {{ icon('pencil') }}
                                        </a>
                                        {% if not block.locked %}
                                            {% if pageBundleInstalled and not integrated_find_pages(block) %}
                                                <a href="{{ path('integrated_block_block_delete', { 'id': block.id }) }}" title="{% trans %}Delete{% endtrans %}">
                                                    {{ icon('remove-circle') }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% else %}

                                <tr>
                                    <td colspan="4">
                                        {% trans %}No blocks added{% endtrans %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        {{ knp_pagination_render(blocks) }}
                    </div>
                </div>
            </section>

        </div>

        <div class="col-sm-4">
            <aside>
                <div class="aside-holder section-gray section-shadow section-radius">
                    {{ form_start(facetFilter) }}

                    <div class="aside-item-holder">
                        {{ form_row(facetFilter.type) }}
                    </div>

                    {% if pageBundleInstalled %}
                        <div class="aside-item-holder">
                            {{ form_row(facetFilter.channels) }}
                        </div>
                    {% endif %}

                    {{ form_end(facetFilter) }}
                </div>
            </aside>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();

            $('form[name="integrated_block_filter"]').on('change', function () {
                $(this).trigger('submit');
            });
        });
    </script>
{% endblock %}
