{% extends 'IntegratedContentBundle::base.html.twig' %}

{% form_theme facetFilter 'IntegratedBlockBundle:Form:form_div_filter.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-8 push-sm-down">
            <ul class="list-inline">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button">{% trans %}Create new{% endtrans %} <b
                                class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        {% for metadata in factory.allMetadata %}
                            <li role="presentation">
                                <a href="{{ path('integrated_block_block_new') }}?class={{ metadata.class }}">{{ metadata.type|default(metadata.class) }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <section class="section-white section-padding section-shadow section-radius">

                <div class="row">
                    <div class="col-sm-12">

                        <table class="table">
                            <colgroup>
                                <col/>
                                <col/>
                                <col/>
                                {% if pageBundleInstalled %}
                                    <col/>{% endif %}
                                <col style="width: 5em"/>
                            </colgroup>

                            <thead>
                            <tr>
                                <th>{{ knp_pagination_sortable(blocks, 'Block name', 'title') }}</th>
                                <th>{{ knp_pagination_sortable(blocks, 'Short code', 'id') }}</th>
                                <th>{{ knp_pagination_sortable(blocks, 'Type', 'type') }}</th>
                                {% if pageBundleInstalled %}
                                    <th>{% trans %}Channels{% endtrans %}</th>
                                    <th>{% trans %}Pages{% endtrans %}</th>
                                {% endif %}
                                <th>{% trans %}Actions{% endtrans %}</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for block in blocks %}

                                <tr>
                                    <td>
                                        {{ block.title }}
                                    </td>
                                    <td>
                                        {{ block.id }}
                                    </td>
                                    <td>
                                        {{ block.type }}
                                    </td>
                                    {% if pageBundleInstalled %}
                                        <td>{{ integrated_find_channels(block) }}</td>
                                        <td>{{ integrated_find_pages(block) }}</td>
                                    {% endif %}
                                    <td>
                                        <a href="{{ path('integrated_block_block_edit', { 'id': block.id }) }}"
                                           title="{% trans %}Edit{% endtrans %}">
                                            {{ icon('pencil') }}
                                        </a>
                                        {% if not block.locked %}
                                            {% if pageBundleInstalled and not integrated_find_pages(block) %}
                                                <a href="{{ path('integrated_block_block_delete', { 'id': block.id }) }}"
                                                   title="{% trans %}Delete{% endtrans %}">
                                                    {{ icon('remove-circle') }}
                                                </a>
                                            {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>

                            {% else %}

                                <tr>
                                    <td colspan="4">
                                        {% trans %}No blocks added{% endtrans %}
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        {{ knp_pagination_render(blocks) }}
                    </div>
                </div>
            </section>

        </div>

        <div class="col-sm-4">
            <aside>
                <div class="aside-holder section-gray section-shadow section-radius">
                    {{ form_start(facetFilter) }}

                    <div class="aside-item-holder">
                        {{ form_row(facetFilter.type) }}
                    </div>

                    {% if pageBundleInstalled %}
                        <div class="aside-item-holder">
                            {{ form_row(facetFilter.channels) }}
                        </div>
                    {% endif %}

                    {{ form_end(facetFilter) }}
                </div>
            </aside>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $(".block-facet-filter").find('form').on('change', function () {
                $(this).trigger('submit');
            });
        });
    </script>
{% endblock %}
