{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}

    <div class="content_columns_holder">
        <div class="content_column_inner">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_block_block_index') }}">{% trans %}Home{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}New{% endtrans %}</li>
            </ol>

            <div class="page-header">
                <h1>{% trans %}New{% endtrans %} <small>{% trans %}Block{% endtrans %}</small></h1>
            </div>

            {{ form_start(form, { 'style': 'horizontal' }) }}
                <div id="integrated_block_block">
                    {{ form_errors(form) }}

                    {% for field in form %}
                        {% if field.vars.name == 'useTitle' %}
                            <div class="form-group ">
                                <div class="col-md-2 text-right">
                                    {{ 'Published title'|trans }}
                                </div>
                                <div class="col-md-10">
                                    <div>
                                        <label style="font-weight: unset;" for="{{ field.vars.id }}">{{ form_widget(field) }} {{ field.vars.name|humanize }}</label>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            {{ form_row(field) }}
                        {% endif %}

                    {% endfor %}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/integratedblock/js/published_title.js') }}"></script>
{% endblock %}