{% set commentId = parent|default ? parent.id : comment.id %}
{% set replyId = parent|default ? comment.id : null %}

<div class="media">
    {% if comment.author.picture|default(comment.author.cover|default) %}
        <div class="media-left">
            <img class="media-object img-circle" src="{{ image(comment.author.picture|default(comment.author.cover)).cropResize(50) }}">
        </div>
    {% endif %}
    <div class="media-body">
        {% if comment.author|default %}
            <h4 class="media-heading">{{ comment.author }}</h4>
        {% endif %}
        <p>
            <small>
                <span class="date">
                    {{ comment.date|date('d-m-Y H:s') }}
                </span>
            </small>
            -
            <a class="delete-comment" href="
                    {%- if replyId -%}
                        {{ path('integrated_comment_delete_reply', {'comment': commentId, 'replyId': replyId}) }}
                    {%- else -%}
                        {{ path('integrated_comment_delete', {'comment': commentId}) }}
                    {%- endif -%}
                ">
                <span class="glyphicon glyphicon-trash"></span>
            </a>
        </p>
    </div>
</div>

<p>
    {{ comment.text }}
</p>