{% extends '@IntegratedContent/base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_block_block_index') }}">{% trans %}Blocks{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Edit{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}Edit{% endtrans %} <small>{% trans %}Block{% endtrans %}</small></h1>
            {% block form_section %}
                <section class="section-white section-padding section-shadow section-radius">
                    {% block form %}
                        {{ form_start(form, {'style': 'horizontal', 'label_col': 4, 'widget_col': 8, 'col_size': 'sm'}) }}
                        <div id="integrated_block_block">
                            {{ form_errors(form) }}

                            <div class="form-group">
                                <label class="control-label col-sm-4 required" for="block_edit_searchSelection">Block type</label>
                                <div class="col-sm-8">
                                    {{ blockType }}
                                </div>
                            </div>

                            {% for field in form %}
                                {% if field.vars.name == 'useTitle' %}
                                    <div class="form-group ">
                                        <label class="control-label col-sm-4 required" for="block_edit_searchSelection">
                                            {{ 'Published title'|trans }}
                                        </label>
                                        <div class="col-sm-8">
                                            <div>
                                                <label style="font-weight: unset;" for="{{ field.vars.id }}">{{ form_widget(field) }} {{ field.vars.name|humanize }}</label>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    {{ form_row(field) }}
                                {% endif %}

                            {% endfor %}
                        </div>
                        {{ form_end(form) }}
                    {% endblock %}
                </section>
            {% endblock %}
        </div>
    </div>
{% endblock %}

{% block webpack_js %}
    <script src="{{ asset('bundles/integratedintegrated/edit.js') }}"></script>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/integratedblock/js/published_title.js') }}"></script>
{% endblock %}

{% block style %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('bundles/integratedintegrated/edit.css') }}">
{% endblock %}


