{% extends 'IntegratedContentBundle::base.html.twig' %}

{% form_theme facetFilter 'IntegratedBlockBundle:form:form_div_filter.html.twig' %}

{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li class="active">{% trans %}Blocks{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-8 push-sm-down">
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_WEBSITE_MANAGER') %}
                <ul class="list-inline">
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown" role="button">{% trans %}Create new{% endtrans %} <b class="caret"></b></a>
                        <ul role="menu" class="dropdown-menu">
                            {% for metadata in factory.allMetadata if 'InlineTextBlock' not in metadata.class %}
                                <li role="presentation">
                                    <a href="{{ path('integrated_block_block_new') }}?class={{ metadata.class }}">{{ metadata.type|default(metadata.class) }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
`           {% endif %}

            {% include 'IntegratedBlockBundle:block/partials:block_list.html.twig' %}

        </div>

        <div class="col-sm-4">
            <aside>
                <div class="aside-holder section-gray section-shadow section-radius">
                    {{ form_start(facetFilter) }}

                    <div class="aside-item-holder">
                        <div class="input-group">
                            {{ form_widget(facetFilter.q) }}
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </span>
                        </div>
                    </div>

                    <div class="aside-item-holder{% if facetFilter.type.vars.choices|length == 0 %} hidden{% endif %}">
                        {{ form_row(facetFilter.type) }}
                    </div>

                    <div class="aside-item-holder{% if facetFilter.channels.vars.choices|length == 0 %} hidden{% endif %}">
                        {{ form_row(facetFilter.channels) }}
                    </div>

                    {{ form_end(facetFilter) }}
                </div>
            </aside>
        </div>

    </div>

{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="popover"]').popover();

            $('form[name="integrated_block_filter"]').on('change', function () {
                $(this).trigger('submit');
            });
        });
    </script>
{% endblock %}
