{% extends 'IntegratedWorkflowBundle::layout.html.twig' %}

{#{% block body %}#}

{#<div class="row">#}

    {#<div class="col-md-3">#}

    {#</div>#}
    {#<div class="col-md-9">#}

        {#<div class="search">#}
            {#<form class="row" role="form">#}
                {#<div class="col-md-10">#}
                    {#<label class="sr-only" for="inputquery">#}
                        {#{% trans %}Search text{% endtrans %}#}
                    {#</label>#}
                    {#<input type="search" name="q" class="form-control input-lg" id="inputquery" value="{{ app.request.query.get('q')|trim }}" placeholder="{% trans %}Search text{% endtrans %}" />#}
                {#</div>#}
                {#<div class="col-md-2">#}
                    {#<button type="submit" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> {% trans %}Search{% endtrans %}</button>#}
                {#</div>#}
            {#</form>#}
        {#</div>#}

        {#<div class="results">#}

            {#{% for content in pager %}#}


            {#{% endfor %}#}

            {#{{ knp_pagination_render(pager) }}#}

        {#</div>#}

    {#</div>#}
{#</div>#}

{#{% endblock %}#}

{% block content %}

    <div class="filters_row">
        <ul class="nav nav-pills">
            <li class="dropdown">
                <a href="#" data-toggle="dropdown" role="button" id="drop_1">Options <b class="caret"></b></a>
                <ul aria-labelledby="drop_1" role="menu" class="dropdown-menu" id="menu_1">
                    <li role="presentation"><a href="{{ path('integrated_workflow_new') }}" tabindex="-1" role="menuitem">New</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content_columns_holder">

        <div class="content_column_inner">

            {#<div class="search">#}
                {#<form class="row" role="form">#}
                    {#<div class="col-md-10">#}
                        {#<label class="sr-only" for="inputquery">#}
                            {#{% trans %}Search text{% endtrans %}#}
                        {#</label>#}
                        {#<input type="search" name="q" class="form-control input-lg" id="inputquery" value="{{ app.request.query.get('q')|trim }}" placeholder="{% trans %}Search text{% endtrans %}" />#}
                    {#</div>#}
                    {#<div class="col-md-2">#}
                        {#<button type="submit" class="btn btn-default btn-lg btn-block"><span class="glyphicon glyphicon-search"></span> {% trans %}Search{% endtrans %}</button>#}
                    {#</div>#}
                {#</form>#}
            {#</div>#}

            <div class="results">

                <table class="table table-striped table-hover">

                    <colgroup>
                        <col />
                        <col style="width: 5em" />
                    </colgroup>

                    <thead>
                        <tr>
                            <th>Workflow</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                    {% for workflow in pager %}

                        <tr>
                            <td>{{ workflow.name }} <small>({{ workflow.id }})</small></td>
                            <td>
                                <a href="{{ path('integrated_workflow_edit', {'id': workflow.id}) }}" title="{% trans %}Edit{% endtrans %}"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="{{ path('integrated_workflow_delete', {'id': workflow.id}) }}" title="{% trans %}Delete{% endtrans %}"><span class="glyphicon glyphicon-remove-circle"></span></a>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>

                </table>

                {{ knp_pagination_render(pager) }}

            </div>

        </div>
    </div>

    {#<div class="content_columns_holder">#}

        {#<div class="col-sm-8 content_column">#}
            {#<div class="content_column_inner">#}

                {#{% for content in pager %}#}

                    {#<div class="item_row">#}
                        {#<h3 class="title">#}
                            {#<a href="{{ path('integrated_content_content_edit', {id: content.type_id}) }}">#}
                                {#{{ content.name }}#}
                            {#</a>#}
                        {#</h3>#}
                        {#{% if content.content is defined %}#}
                            {#{% if content.content|join('...')|trim is not empty %}#}
                                {#<p>{{ content.content|join('...')|slice(1, 200)|striptags|raw }}</p>#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                        {#<ul class="status_info_list">#}
                            {#<li>#}
                                {#{% if contentTypes[content.type_name] is defined %}#}
                                    {#{{ contentTypes[content.type_name] }}#}
                                {#{% else %}#}
                                    {#{{ content.type_name }}#}
                                {#{% endif %}#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}

                {#{% else %}#}

                    {#<div class="item_row">#}
                        {#<p class="text-danger">{% trans %}No items found{% endtrans %}</p>#}
                    {#</div>#}

                {#{% endfor %}#}

                {#<div class="item_row">#}
                    {#<div class="pull-right">#}
                        {#{{ knp_pagination_render(pager) }}#}
                    {#</div>#}
                {#</div>#}

            {#</div>#}
        {#</div>#}

        {#<div class="col-sm-4 sidebar_right">#}
            {#<div class="content_column_inner">#}
                {#<form>#}
                    {#{% for key, facet in facets %}#}
                        {#<div class="item_row">#}
                            {#<h3 class="title">#}
                                {#{{ key|capitalize }}#}
                            {#</h3>#}
                            {#<ul class="filters_list">#}
                                {#{% for title, count in facet %}#}
                                {#<li>#}
                                    {#<label>#}
                                        {#<input {% if title in active %}checked="checked"{% endif %} onclick="form.submit();" type="checkbox" name="{{ key }}[]" value="{{ title }}" />#}
                                        {#{% if key == 'contenttypes' %}#}
                                            {#{% if contentTypes[title] is defined %}#}
                                                {#{{ contentTypes[title] }}#}
                                            {#{% else %}#}
                                                {#{{ title }}#}
                                            {#{% endif %}#}
                                        {#{% endif %}#}
                                        {#<span class="value">{{ count }}</span>#}
                                    {#</label>#}
                                {#</li>#}
                                {#{% endfor %}#}
                            {#</ul>#}
                        {#</div>#}
                    {#{% endfor %}#}
                {#</form>#}
            {#</div>#}
        {#</div>#}

    {#</div>#}

{% endblock %}