{% extends integrated_active_theme('base.html.twig') %}

{% block title %}Log in!{% endblock %}

{% block content %}
    <form method="post">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />

        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if not login_enabled %}
            <div class="mb-3">
                Login is currently not allowed
            </div>
        {% elseif app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('integrated_website_logout') }}">Logout</a>
            </div>
        {% else %}
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="inputUsername">E-mail address</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" onblur="updateLogin();" required autofocus />

            <div id="panel-password" style="display: none;">
                <label for="inputPassword">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required />
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me" /> Remember me
                </label>
            </div>

            <button class="btn btn-lg btn-primary" type="submit">Next</button>
    {% endif %}
    </form>
{% endblock %}
