<script type="text/x-handlebars-template" id="integrated_website_template_modal_block_add">
    {% verbatim %}
    {{#each blocks}}
    <div class="row form-group">
        <div class="col-sm-8">
            <b>{{ title }}</b>
            <p>{{ type }}</p>
        </div>
        <div class="col-sm-4">
            <a href="javascript:;" data-action="integrated-website-block-choose" data-id="{{ id }}" class="btn btn-default pull-right">Choose</a>
        </div>
    </div>
    {{/each}}
    {% endverbatim %}

    <div class="row form-group">
        <div class="col-sm-12">
            <div class="dropdown">
                <button class="btn btn-default pull-right" type="button" data-toggle="dropdown">New
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {% for metadata in integrated_find_block_types() %}
                        <li role="presentation">
                            <a href="{{ path('integrated_block_block_new', {'_format': 'iframe.html', 'class': metadata.class}) }}" data-action="integrated-website-block-new">{{ metadata.type|default(metadata.class) }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</script>
