{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <ul class="list-inline">
                <li>
                    <a href="{{ path('integrated_content_channel_new') }}" role="button">{% trans %}Create new{% endtrans %}</a>
                </li>
            </ul>

            <section class="section-white section-padding section-shadow section-radius">

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{% trans %}Id{% endtrans %}</th>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Domains{% endtrans %}</th>
                        <th>{% trans %}Created{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>
                                <a href="{{ path('integrated_content_channel_show', {'id': document.id}) }}">
                                    {{ document.id }}
                                </a>
                            </td>
                            <td>
                                {{ document.name }}
                            </td>
                            <td>
                                {{ document.domains|join(', ') }}
                            </td>
                            <td>
                                {{ document.createdAt|date }}
                            </td>
                            <td>
                                <a href="{{ path('integrated_content_channel_edit', {'id': document.id}) }}" title="{% trans %}Edit{% endtrans %}">
                                    {{ icon('pencil') }}
                                </a>
                                <a href="{{ path('integrated_content_channel_delete', {'id': document.id}) }}" title="{% trans %}Delete{% endtrans %}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                {% trans %}No channels added{% endtrans %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </section>
        </div>
    </div>
{% endblock %}
