{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block crumbs %}
    <div class="breadcrumb-holder">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('integrated_content_channel_index') }}">{% trans %}Channel{% endtrans %}</a>
                </li>
                <li class="active">{% trans %}Show{% endtrans %}</li>
            </ol>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <h1 class="main-title font-regular">{% trans %}Show{% endtrans %}</h1>
            <section class="section-white section-padding section-shadow section-radius">
                <dl class="dl-horizontal">
                    <dt>
                        {% trans %}Id{% endtrans %}
                    </dt>
                    <dd>
                        {{ channel.id }}
                    </dd>
                    <dt>
                        {% trans %}Name{% endtrans %}
                    </dt>
                    <dd>
                        {{ channel.name }}
                    </dd>
                    <dt>
                        {% trans %}Domains{% endtrans %}
                    </dt>
                    <dd>
                        {{ channel.domains|join(', ') }}
                    </dd>
                    <dt>
                        {% trans %}Primary Domain{% endtrans %}
                    </dt>
                    <dd>
                        {{ channel.primaryDomain }}
                    </dd>
                </dl>
                <a class="pull-left btn btn-primary" style="margin-right:10px;" href="{{ path('integrated_content_channel_edit', {'id': channel.id}) }}">
                    {% trans %}Edit{% endtrans %}
                </a>
                <a class="btn-danger btn btn-primary" href="{{ path('integrated_content_channel_delete', {'id': channel.id}) }}">
                    {% trans %}Delete{% endtrans %}
                </a>
            </section>
        </div>
    </div>
{% endblock %}
