{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}
    {{ form_start(form) }}
    <div class="row mb-10">
        <div class="col-md-8 push-sm-down">
            <h1>{% trans %}Step 3 of 3: Confirmation{% endtrans %}</h1>
        </div>
        <div class="pull-right">
            <a class="btn btn-gray-thin mr-10" href="{{ path("integrated_content_bulk_configure", filters) }}">{% trans %}Back{% endtrans %}</a>
            <button class="btn btn-orange" type="submit">{% trans %}Confirm{% endtrans %}</button>
        </div>
    </div>
    <div class="row">
        <section class="section-white section-padding section-shadow section-radius">
            {#-  #}{% trans %}Please confirm that you wish to{% endtrans %}{{ actionTranlators|length > 1 ? ': ' : ' ' }}{#  -#}
            {% for translator in actionTranlators %}{#  -#}
                {{ translator.getKindOfAction() }} {% trans %}the following{% endtrans %} {{ translator.getTarget() }}{#  -#}
                {% if loop.last == false %}{#  -#}
                    {{ loop.revindex == 2 ? ' & ' : ', ' }}{#  -#}
                {% endif %}{#  -#}
            {% endfor %}{#  -#}
            {#-  #} {% trans %}for the selected{% endtrans %} {{ contents|length > 1 ? contents|length ~ ' contents' : 'content' }}.{#  -#}
            <hr/>
            <ul>
                {% for translator in actionTranlators %}
                    <li>
                        <strong>{{ translator.getKindOfAction() }} {{ translator.getTarget() }}:</strong>
                        <ul>
                            {% for change in translator.getChanges() %}
                                <li> - {{ change }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </div>
    {{ form_end(form) }}
{% endblock %}