{% extends 'BraincraftedBootstrapBundle:Menu:bootstrap.html.twig' %}

{% block list %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        {% if item.level == 0 %}
            <ul class="dropdown-menu">
                {{ block('children') }}
            </ul>
        {% else %}
            {{ block('children') }}
        {% endif %}
    {% endif %}
{% endblock %}

{% block item %}
    {% if item.displayed %}
        {% if item.level == 1 %}
            <li>
                <div class="megamenu-content">
                    <ul class="list">
                        <li class="dropdown-header">
                            {{ block('label') }}
                        </li>
                        {{ block('list') }}
                    </ul>
                </div>
            </li>
        {% else %}
            <li>
                {% if item.uri %}
                    {{ block('linkElement') }}
                {% else %}
                    {{ block('label') }}
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
{% endblock %}