{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block body %}
<div class="btn-group">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        New <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        {% for type in documentTypes %}
            <li>
                <a href="{{ path('integrated_content_contenttype_new') }}?class={{ type.class }}">
                    {{ type.type }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Class</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>
                <a href="{{ path('integrated_content_contenttype_show', {'id': document.id}) }}">
                    {{ document.name }}
                </a>
            </td>
            <td>
                {{ document.type }}
            </td>
            <td>
                {{ document.class }}
            </td>
            <td>
                {{ document.createdAt|date }}
            </td>
            <td>
                <a href="{{ path('integrated_content_contenttype_edit', {'id': document.id}) }}">
                    {{ icon('pencil') }}
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                No content types added
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}