<ul>
    <li>
        <a href="{{ path('integrated_content_contenttype_select') }}">
            Create a new content type
        </a>
    </li>
</ul>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Created</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for document in documents %}
        <tr>
            <td>
                <a href="{{ path('integrated_content_contenttype_show', {'id': document.id}) }}">
                    {{ document.classType }}
                </a>
            </td>
            <td>
                {{ document.className }}
            </td>
            <td>
                {{ document.createdAt|date }}
            </td>
            <td>
                <a href="{{ path('integrated_content_contenttype_edit', {'id': document.id}) }}">Edit</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="4">
                No content types added
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>