{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block body %}
<ol class="breadcrumb">
    <li>
        <a href="{{ path('integrated_content_contenttype_index') }}">Home</a>
    </li>
    <li class="active">Show</li>
</ol>
<h1>Show</h1>
<dl>
    <dt>
        ClassType
    </dt>
    <dd>
        {{ contentType.type }}
    </dd>
    <dt>
    ClassName
    </dt>
    <dd>
    {{ contentType.class }}
    </dd>
    <dt>
        Fields
    </dt>
    <dd>
        <ul>
            {% for field in contentType.fields %}
            <li>
                {{ field.name }}
                |
                {{ field.label }}
                |
                {{ field.type }}
                {% if field.required %}
                | required
                {% endif %}
            </li>
            {% else %}
            <li>
                No fields added
            </li>
            {% endfor %}
        </ul>
    </dd>
    <dt>
        Relations
    </dt>
    <dd>
        <ul>
            {% for relation in contentType.relations %}
            <li>
                {{ relation.contentType.class }}
                |
                {{ relation.contentType.type }}
                |
                {% if relation.multiple == 1 %}
                Multiple
                {% else %}
                One
                {% endif %}
                {% if relation.required %}
                    | required
                {% endif %}

            </li>
            {% else %}
            <li>
                No relations added
            </li>
            {% endfor %}
        </ul>
    </dd>
</dl>
<a class="pull-left btn btn-primary" style="margin-right:10px;" href="{{ path('integrated_content_contenttype_edit', {'id': contentType.id}) }}">
    Edit
</a>
{{ form(form, { 'style': 'inline' }) }}
{% endblock %}