{% extends 'IntegratedContentBundle::base.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12 push-sm-down">
            <ul class="list-inline">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" role="button">{% trans %}Options{% endtrans %} <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        <li role="presentation">
                            <a href="{{ path('integrated_page_page_new', { 'channel': selectedChannel.id }) }}" tabindex="-1" role="menuitem">{% trans %}New page{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('integrated_page_page_new', { 'channel': selectedChannel.id }) }}" tabindex="-1" role="menuitem">{% trans %}Copy selected pages{% endtrans %}</a>
                        </li>
                    </ul>

                <li class="dropdown pull-right">
                    <a href="#" data-toggle="dropdown" role="button">{{ selectedChannel.name }} <b class="caret"></b></a>
                    <ul role="menu" class="dropdown-menu">
                        {% for channel in channels %}
                            <li role="presentation">
                                <a href="{{ path('integrated_page_page_copy', { 'channel': channel.id }) }}" tabindex="-1" role="menuitem">{{ channel.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>

            <section class="section-white section-padding section-shadow section-radius">

                {% form_theme form with ['IntegratedPageBundle:form:form_div_layout.html.twig'] %}

                {{ form(form) }}

                <table class="table table-hover">
                    <colgroup>
                        <col style="width: 2em" />
                        <col />
                        <col />
                        <col style="width: 5em" />
                    </colgroup>

                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}Title{% endtrans %}</th>
                        <th>{% trans %}URL{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for page in pages %}

                        <tr>
                            <td><input type="checkbox" name="pages[]" value="{{ page.id }}"></td>
                            <td>
                                {{ page.title }}
                            </td>
                            <td>
                                {{ page.path }}
                            </td>
                            <td>
                                <a href="{{ path('integrated_page_page_edit', { 'id': page.id, 'channel': selectedChannel.id }) }}" title="{% trans %}Edit{% endtrans %}">
                                    {{ icon('pencil') }}
                                </a>
                                {% if not page.locked %}
                                    <a href="{{ path('integrated_page_page_delete', { 'id': page.id, 'channel': selectedChannel.id }) }}" title="{% trans %}Delete{% endtrans %}">
                                        {{ icon('remove-circle') }}
                                    </a>
                                {% endif %}
                            </td>
                        </tr>

                    {% else %}

                        <tr>
                            <td colspan="4">
                                {% trans %}No pages added{% endtrans %}
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>

                {{ knp_pagination_render(pages) }}
            </section>
        </div>
    </div>

{% endblock %}
