{% use "IntegratedFormTypeBundle:Form:form_div_layout.html.twig" %}

{% block content_type_field_collection_widget %}
{% spaceless %}
    <table class="table">
        <thead>
        <tr>
            <th width="40%">{% trans %}Fields{% endtrans %}</th>
            <th>{% trans %}Required{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for field in form %}
            <tr>
                <td>
                    {% set element = field.enabled  %}
                    {{ block('content_type_checkbox_widget') }}
                </td>
                <td>
                    <div class="checkbox">
                        <label>{{ form_widget(field.required) }}</label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block content_type_relation_collection_widget %}
{% spaceless %}
    <table class="table">
        <thead>
            <tr>
                <th width="40%">{% trans %}Content type{% endtrans %}</th>
                <th colspan="2">{% trans %}Relations{% endtrans %}</th>
                <th>{% trans %}Required{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for relation in form %}
            <tr>
                <td>
                    {% set element = relation.enabled  %}
                    {{ block('content_type_checkbox_widget') }}
                </td>
                <td>
                    {% set element = relation.multiple.0  %}
                    {{ block('content_type_radio_widget') }}
                </td>
                <td>
                    {% set element = relation.multiple.1  %}
                    {{ block('content_type_radio_widget') }}
                </td>
                <td>
                    <div class="checkbox">
                        {{ form_widget(relation.required) }}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}

{% block translatable_text_widget %}
{% spaceless %}
    {% for field in form %}
        <div class="input-group" style="margin-bottom: 15px">
            <span class="input-group-addon">
                {{ field.vars.label }}
            </span>
            {{ form_widget(field) }}
        </div>
    {% endfor %}
{% endspaceless %}
{%  endblock %}

{% block translatable_textarea_widget %}
    {% spaceless %}
        {% for field in form %}
            <div class="input-group" style="margin-bottom: 15px">
            <span class="input-group-addon">
                {{ field.vars.label }}
            </span>
                {{ form_widget(field) }}
            </div>
        {% endfor %}
    {% endspaceless %}
{%  endblock %}

{% block content_type_checkbox_widget %}
    {% spaceless %}
        <div class="checkbox">
            {% if element.vars.label is not sameas(false) %}
                <label for="{{ element.vars.id }}">
                    <input id="{{ element.vars.id }}" name="{{ element.vars.full_name  }}" type="checkbox" {% if element.vars.value is defined %} value="{{ element.vars.value }}"{% endif %}{% if element.vars.checked %} checked="checked"{% endif %}/>
                    {{ element.vars.label|trans({}, translation_domain) }}
                </label>
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block content_type_radio_widget %}
    {% spaceless %}
        <div class="radio">
            {% if element.vars.label is not sameas(false) %}
                <label for="{{ element.vars.id }}">
                    <input id="{{ element.vars.id }}" name="{{ element.vars.full_name  }}" type="radio" {% if element.vars.value is defined %} value="{{ element.vars.value }}"{% endif %}{% if element.vars.checked %} checked="checked"{% endif %}/>
                    {{ element.vars.label|trans({}, translation_domain) }}
                </label>
            {% else %}
                {{ form_widget(field) }}
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block content_relations_row %}
    <div class="form-relations" style="display: none;">
        {{ block('form_row') }}
    </div>
{% endblock %}

{% block integrated_image_row %}
    {% spaceless %}
        <div class="form-group{% if not form.vars.valid %} has-error{% endif %}">
            {{ form_label(form) }}
            <div class="col-sm-8">
                {% if (form.parent.vars.value.fileExtension is not empty) %}
                    <img style="max-width: 200px; margin-bottom: 10px;" src="{{ form.parent.vars.value.getWebPath() }}" />
                {% endif %}
                {{ form_widget(form) }}
                {{ form_errors(form) }}
            </div>
        </div>
    {% endspaceless %}
{% endblock %}

{% block content_type_channels_widget  %}
    {% for element in form %}
        {% set label_attr = element.vars.label_attr|merge({'class': (element.vars.label_attr.class|default('') ~ ' sr-only')|trim}) %}
        {{ form_row(element, {widget_col: '12', label_col: '12', label_attr: label_attr}) }}
    {% endfor %}
{% endblock %}

{% block content_type_channel_collection_widget %}
{% spaceless %}
    <table class="table">
        <colgroup>
            <col style="width:40%" />
            <col />
        </colgroup>

        <thead>
            <tr>
                <th>{% trans %}Default{% endtrans %}</th>
                <th>{% trans %}Enforce{% endtrans %}</th>
            </tr>
        </thead>

        <tbody>
        {% for channel in form %}
            <tr>
                <td>
                    {% set element = channel.selected  %}
                    {{ block('content_type_checkbox_widget') }}
                </td>
                <td>
                    <div class="checkbox">
                        <label>{{ form_widget(channel.enforce) }}</label>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endspaceless %}
{% endblock %}