{% use "BraincraftedBootstrapBundle:Form:bootstrap.html.twig" %}

{% block integrated_datetime_widget  %}
    {% spaceless %}
        <div class="input-group date form_datetime" style="width: 50%" data-date="" data-date-format="dd-m-yyyy - HH:ii">
            <input {{ block('widget_attributes') }}  class="form-control" size="16" type="text" {% if value is not empty %}value="{{ value }}" {% endif %} readonly>
            <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
        </div>
    {% endspaceless %}
{% endblock %}

{% block integrated_wysihtml5x_widget  %}
        <textarea {{ block('widget_attributes') }}   class="form-control integrated_wysihtml5x"> {% if value is not empty %} {{ value }} {% endif %}  </textarea>
{% endblock %}

{% block integrated_tinymce_widget  %}
    {% spaceless %}
        <textarea id="{{ id }}" name="{{ full_name }}" class="form-control integrated_tinymce">{% if value is not empty %}{{ value }}{% endif %}</textarea>
        <script type="text/javascript">
            require(["{{ asset('bundles/integratedformtype/components/tinymce/tinymce.min.js') }}"],
                function () {
                    tinymce.init({
                        selector: "textarea#{{ id }}",
                        theme: "modern",
                        plugins: [
                            ["advlist autolink link image lists charmap hr anchor pagebreak"],
                            ["searchreplace wordcount visualchars fullscreen media nonbreaking"],
                            ["table contextmenu directionality template paste"]
                        ],
                        add_unload_trigger: false,
                        schema: "html5",
                        toolbar: "styleselect | bold italic | alignleft alignright | bullist numlist outdent indent | link image print preview media fullpage",
                        statusbar: false,
                        width: "100%",
                        height: "300",
                        removed_menuitems: 'newdocument'
                    });
                }
            );
        </script>
    {% endspaceless %}
{% endblock %}

{% block integrated_select2_widget  %}
    <input type="hidden" id="{{ id }}" name="{{ full_name }}" class="col-md-12 integrated_select2" style="width: 100%; padding: 0;" />
    <script type="text/javascript">
        require(["{{ asset('bundles/integratedformtype/components/select2/select2.js') }}"],
            function () {
                $("#{{ id }}").select2();
            }
        );
    </script>
{% endblock %}

{% block integrated_author_widget  %}
    <div class="input-group">
        <input type="hidden" id="{{ id }}" name="{{ full_name }}" class="col-md-12 integrated_select2" style="width: 100%; padding: 0;" />
      <span class="input-group-btn">
        <button id="types-btn" class="btn btn-default" type="button" style="padding: 5px 10px;"><span class="caret"></span></button>
      </span>
    </div>

    <div style="clear: both;"></div>

    <div id="authorTypes">
        {% if value.type_div is not empty %}
            {% autoescape false %}
                {{ value.type_div }}
            {% endautoescape %}
        {% endif %}
    </div>

    <script type="text/javascript">
        require(["{{ asset('bundles/integratedformtype/components/select2/select2.js') }}"],
            function () {
                $("#{{ id }}").select2({
                    minimumInputLength: 1,
                    multiple: true,
                    ajax: {
                        url: "{{path('integrated_select2_ajax', { 'name': name })}}",
                        dataType: 'json',
                        data: function (term, page) {
                            return {
                                query: term,
                                page_limit: 10
                            };
                        },
                        results: function (data, page) {
                            return {
                                results: $.map(data.result, function (item) {
                                    return {
                                        text: item.nickname,
                                        id: item.id
                                    }
                                })
                            };
                        }
                    },
                    dropdownCssClass: "bigdrop"
                }).on("change", function(e) {
                    if(e.hasOwnProperty('added')) {
                        $("#authorTypes").append('<div id="type_' + e.added.id + '" style="margin-top: 10px;" class="input-group input-group"><span class="input-group-addon">' + e.added.text + '</span><input type="text" class="form-control type-text" name="' + e.added.id + '_type" placeholder="Type" /></div>');
                    }

                    if(e.hasOwnProperty('removed')) {
                        $("#type_" + e.removed.id).remove();
                    }
                });

                $('#types-btn').on("click", function(e) {
                    $('#authorTypes').toggle();
                });

                {% if value.data is not empty %}
                    {% autoescape false %}
                        $("#{{ id }}").select2('data', {{ value.data }});
                    {% endautoescape %}
                {% endif %}
            }
        );
    </script>
{% endblock %}