{% block integrated_page_grid_grid_row %}
{% spaceless %}
    {{ form_widget(form.id) }}
    {{ _self.integrated_page_grid_section(form) }}
{% endspaceless %}
{% endblock %}

{% block integrated_page_grid_block_row %}
{% spaceless %}
    <div id="{{ form.vars.id }}_element" class="block">
        <div class="options">
            {{ form_widget(form.parent.order, { 'attr': { 'data-field': 'order' } }) }}
            {{ form_widget(form, { 'attr': { 'data-field': 'block' } }) }}
        </div>

        <div class="element">
            {{ integrated_block(form.parent.vars.value.block) }}
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{% block integrated_page_grid_row_row %}
{% spaceless %}
    <div id="{{ form.vars.id }}" class="row">
        {{ form_widget(form.parent.order, { 'attr': { 'data-field': 'order' } }) }}
        {{ form_widget(form.columns) }}
    </div>
{% endspaceless %}
{% endblock %}

{% block integrated_page_grid_column_row %}
{% spaceless %}
    <div id="{{ form.vars.id }}" class="col-xs-{{ form.size.vars.value }}">
        {{ form_widget(form.size) }}
        {{ _self.integrated_page_grid_section(form) }}
    </div>
{% endspaceless %}
{% endblock %}

{% macro integrated_page_grid_section(form) %}
{% spaceless %}
    <div class="section">
        <div id="{{ form.vars.id }}_items" class="sortable" data-name="{{ form.items.vars.full_name }}">
            {% for item in form.items %}

                {% if item.block.vars.value|default %}
                    {{ form_row(item.block) }}
                {% endif %}

                {% if item.row.vars.value|default %}
                    {{ form_row(item.row) }}
                {% endif %}

            {% endfor %}
        </div>
    </div>
{% endspaceless %}
{% endmacro %}
