{% block integrated_block_size_widget %}
{% spaceless %}
    {{ bootstrap_set_col_size('sm') }}

    <div class="row">
        <div class="col-sm-8">
            <div class="form-group">
                {{ form_label(form.block) }}
                <div class="col-sm-9">
                    {{ form_widget(form.block) }}
                </div>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                {{ form_label(form.size) }}
                <div class="col-sm-9">
                    {{ form_widget(form.size) }}
                </div>
            </div>
        </div>
    </div>
{% endspaceless %}
{% endblock %}

{# @todo
{% block integrated_block_widget %}
{% spaceless %}
    {{ form(form) }}

    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function(e) {

            $('#{{ form.vars.id }}').select2({
                ajax: {
                    url: '{{ path('integrated_block_block_index', { '_format': 'json' }) }}',
                    dataType: 'json',
                    data: function (term, page) {
                        return {
                            q: term,
                            page: page,
                            limit: 20,
                            _format: 'json'
                        };
                    },
                    results: function (data, page) {
                        return {
                            results: $.map(data.items, function (item) {
                                return {
                                    id: item.id,
                                    text: item.title
                                }
                            }),
                            more: (page * data.pagination.numItemsPerPage) < data.pagination.numFound
                        };
                    }
                }
            });
        });
    </script>
{% endspaceless %}
{% endblock %}
#}