{% extends 'IntegratedContentBundle::base.html.twig' %}
{% block content %}

    <div class="filters_row">
        <ul class="nav nav-pills">
            <li>
                <a href="{{ path('integrated_content_relation_new') }}">
                    {% trans %}Create new{% endtrans %}
                </a>
            </li>
        </ul>
    </div>

    <div class="content_columns_holder">
        <div class="content_column_inner">

            <table class="table">
                <thead>
                    <tr>
                        <th>{% trans %}Name{% endtrans %}</th>
                        <th>{% trans %}Created{% endtrans %}</th>
                        <th>{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                {% for document in documents %}
                    <tr>
                        <td>
                            <a href="{{ path('integrated_content_relation_show', {'id': document.id}) }}">
                                {{ document.name }}
                            </a>
                        </td>
                        <td>
                            {{ document.createdAt|date }}
                        </td>
                        <td>
                            <a href="{{ path('integrated_content_relation_edit', {'id': document.id}) }}" title="{% trans %}Edit{% endtrans %}">
                                {{ icon('pencil') }}
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">
                            {% trans %}No relations added{% endtrans %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}