<ul class="nav navbar-nav navbar-right header-nav">

    <li class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-blue" data-toggle="dropdown">{% trans %}Create new{% endtrans %}</a>
        {{ knp_menu_render('content_type', {'template': 'IntegratedContentBundle:menu:content_type.html.twig'}) }}
    </li>

    {% set divided = false %}
    {% if assignedContent|length > 0 %}
        <li class="divider-nav hidden-xs"></li>
        {%  set divided = true %}

        <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle btn btn-blue-thin" data-toggle="dropdown">
                <i class="integrate-icon-doc"></i>
                <span class="badge badge-right">{{ assignedContent|length }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left dropdown-icons">
                <li>
                    <div class="megamenu-content">
                        <ul class="list list-large list-border">
                            <li class="dropdown-header">{% trans %}Assigned to me{% endtrans %}:</li>
                            {% for doc in assignedContent %}
                                <li>
                                    <a href="{{ path('integrated_content_content_edit', {id: doc.type_id}) }}">
                                        <i class="integrate-icon-plus-circled"></i>
                                        {{ doc.title|default }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endif %}

    {% if queuecount > 0 and is_granted('ROLE_ADMIN') %}
        {% if divided == false %}
            <li class="divider-nav hidden-xs"></li>
        {% endif %}

        <li class="dropdown hidden-xs">
            <a href="#" class="dropdown-toggle btn btn-blue-thin" data-toggle="dropdown">
                <i class="integrate-icon-database"></i><span class="badge badge-right">{{ queuecount }}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-left dropdown-icons">
                <li>
                    <div class="megamenu-content">
                        <ul class="list list-large list-border">
                            <li class="dropdown-header">{% trans %}Background indexing{% endtrans %}... <span class="pull-right"></span></li>
                            <li>
                                <div class="progress progress-striped">
                                    <div style="min-width: 2em; width: {{ queuepercentage }}%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ queuepercentage }}" role="progressbar" class="progress-bar progress-bar-success">
                                       {{ queuepercentage }}%
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endif %}
    <li class="divider-nav hidden-xs"></li>

    {% if app.user %}
        <li class="dropdown dropdown-profile hidden-xs">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="{{ avatarurl }}" class="profile-image" />
                <i class="integrate-icon-down-open"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <div class="megamenu-content">
                        <ul class="list list-large list-user">
                            <li class="user-info">
                                <p>
                                    <b>
                                        {% if app.user.getRelation.getLastname is defined %}
                                            {{ app.user.getRelation.getFirstname|default('') }} {{ app.user.getRelation.getLastname|default('') }}
                                        {% else %}
                                           {{ app.user.username|default('') }}
                                        {% endif %}
                                    </b>
                                    {% if app.user.getRelation.getEmail is defined %}
                                        <br>
                                        <small>{{ app.user.getRelation.getEmail|default('') }}</small>
                                {% endif %}
                                </p>
                            </li>
                            <li>
                                <a href="{{ path('integrated_user_profile_index') }}">
                                    <i class="integrate-icon-edit"></i>{% trans %}Edit profile{% endtrans %}
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="{{ path('integrated_user_logout') }}">
                                    <i class="integrate-icon-lock"></i>{% trans %}Log out{% endtrans %}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
    {% endif %}
</ul>
