{% extends '@IntegratedContent/base.html.twig' %}

{% block header %}{% endblock %}
{% block crumbs %}{% endblock %}

{% block content %}
<section class="section-white section-padding section-shadow section-radius">
    <p>
        <b>{% trans %}Date{% endtrans %}:</b> {{ contentHistory.date|format_date }}<br />
        <b>{% trans %}Action{% endtrans %}:</b> {{ contentHistory.action|trans }}<br />
        <b>{% trans %}User{% endtrans %}:</b> {{ contentHistory.user.name|default('Unknown'|trans) }} {% if contentHistory.user.id is defined %}(#{{ contentHistory.user.id }}){% endif %}<br />
        <b>{% trans %}Endpoint{% endtrans %}:</b> {{ contentHistory.request.endpoint }}<br />
        <b>{% trans %}IP address{% endtrans %}:</b> {{ contentHistory.request.ipAddress }}
    </p>

    {% set showOld = contentHistory.action in ['delete', 'update'] %}
    {% set showNew = contentHistory.action in ['insert', 'update'] %}

    <br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Field{% endtrans %}</th>
                {% if showOld %}
                    <th>{% trans %}Old value{% endtrans %}</th>
                {% endif %}
                {% if showNew %}
                    <th>{% trans %}New value{% endtrans %}</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for field, changeSet in contentHistory.changeSet if changeSet is not null %}
                {% set isUpdate = contentHistory.action == 'update' %}

                <tr>
                    <td>{{ field }}</td>
                    {% if showOld %}
                        <td>
                            {% include '@IntegratedContentHistory/value.html.twig' with { 'value': isUpdate and changeSet[0] is defined ? changeSet[0] : changeSet } %}
                        </td>
                    {% endif %}
                    {% if showNew %}
                        <td>
                            {% include '@IntegratedContentHistory/value.html.twig' with { 'value': isUpdate and changeSet[1] is defined ? changeSet[1] : changeSet } %}
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}
